html {
	-webkit-transition: ease all 0.5s;
	-o-transition: ease all 0.5s;
	-ms-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	transition: ease all 0.5s;
}
body {
	-webkit-transition: ease all 0.5s;
	-o-transition: ease all 0.5s;
	-ms-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	transition: ease all 0.5s;
}
/*--- Loading screen ---*/
.loading {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #111;
	color: #eee;
	z-index: 9999;
	-webkit-transition: ease all 0.5s;
	-o-transition: ease all 0.5s;
	-ms-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	transition: ease all 0.5s;
}
.load-text {
	position: absolute;
	background: #111;
	color: #eee;
	bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
}
.load-circle-back,
.load-circle-fore {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.load-circle-back:after,
.load-circle-fore:after {
	content: "";
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.load-circle-back {
	height: 192px;
	width: 192px;
}
.load-circle-fore {
	height: 120px;
	width: 120px;
}
.load-circle-back:after {
	height: 192px;
	width: 192px;
	animation: rotate 1.5s infinite;
	background-image: url("../img/icon-back.png");
}
.load-circle-fore:after {
	height: 120px;
	width: 120px;
	animation: rotate-reverse 1.5s infinite;
	background-image: url("../img/byuwur_favicon.png");
}
@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(720deg);
		-moz-transform: rotate(720deg);
		transform: rotate(720deg);
	}
}
@keyframes rotate-reverse {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
	100% {
		-webkit-transform: rotate(-720deg);
		-moz-transform: rotate(-720deg);
		transform: rotate(-720deg);
	}
}

/*---------------------------------
  Particles
-----------------------------------*/
#particles {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
}
/*---------------------------------
  Video background
-----------------------------------*/
.side-video,
.side-video--open {
	position: absolute;
	opacity: 0.125;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	left: -50vw;
	filter: blur(12px);
	background-image: url(../img/icon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transition: ease all 0.5s;
	-o-transition: ease all 0.5s;
	-ms-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	transition: ease all 0.5s;
}
.side-video--open {
	-webkit-transform: translateX(-50vw) !important;
	-moz-transform: translateX(-50vw) !important;
	transform: translateX(-50vw) !important;
}
@keyframes float {
	0% {
		-webkit-transform: translateY(12px);
		-moz-transform: translateY(12px);
		transform: translateY(12px);
	}
	50% {
		-webkit-transform: translateY(-12px);
		-moz-transform: translateY(-12px);
		transform: translateY(-12px);
	}
	100% {
		-webkit-transform: translateY(12px);
		-moz-transform: translateY(12px);
		transform: translateY(12px);
	}
}
/*---------------------------------
  Custom scrollbar
-----------------------------------*/
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	background: #333;
}
::-webkit-scrollbar-thumb {
	background: #999;
}
::-webkit-scrollbar-thumb:hover {
	background: #666;
}
/*---------------------------------
  Lang buttons
-----------------------------------*/
.a-lang {
	margin-left: 4px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: #000;
	border: 1px solid #fff;
	padding: 0.125em 0.25em 0.125em 0.25em;
}
.a-lang img {
	width: 16px;
	height: 12px;
	margin-bottom: 4px;
}
.a-mnm {
	text-align: center;
	color: #fff;
	background: #000;
	border: 1px solid #fff;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0.5em;
	letter-spacing: 1px;
}
.hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
}
