#particles, .side-video {
	z-index: -9 !important;
}
body {
	font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	padding-top: 2em;
	font-size: 1em;
	color: #111;
	background: #ddd;
}
@media screen and (min-width: 799px) {
	body {
		padding-top: 0;
		padding-left: 25%;
	}
}
@media screen and (max-width: 799px) {
	body {
		font-size: 1em;
	}
}
@media screen and (min-width: 1199px) {
	body {
		padding-left: 20%;
		font-size: 1.125em;
	}
}
@media screen and (min-width: 1599px) {
	body {
		font-size: 1.25em;
	}
}
@media screen and (min-width: 1849px) {
	body {
		font-size: 1.375em;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	text-transform: uppercase;
	color: #999;
}
h1 {
	font-size: 5.5rem;
	line-height: 3.3rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}
p.lead {
	font-size: 1.15rem;
	font-weight: 400;
	margin-bottom: 2rem;
}
hr {
	display: block;
	color: #000;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 3px;
}
.a-logo {
	text-align: center;
	color: #fff;
	background: #000;
	border: 1px solid #fff;
	padding: 0.375em 0.625em;
}
.a-logo img {
	width: 16px;
	height: 12px;
	margin-bottom: 4px;
}
.a-mnm {
	text-align: center;
	color: #fff;
	background: #000;
	border: 1px solid #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0.75em;
	margin-top: 1em;
	letter-spacing: 2px;
}
.form-control {
	color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 1);
	height: 55px;
	font-size: 1em;
	font-weight: 425;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}
.form-control:active,
.form-control:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #08a6bf;
}
.subheading {
	text-transform: uppercase;
	font-weight: 500;
	font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.5rem;
}
.social-icons a {
	display: inline-block;
	height: 3.5rem;
	width: 3.5rem;
	background-color: #ccc;
	color: #000 !important;
	border-radius: 100%;
	text-align: center;
	font-size: 1.5rem;
	line-height: 3.5rem;
	margin: 0 0.25rem 0.5rem 0.25rem;
}
.social-icons a:last-child {
	transition-duration: 0.3s;
	margin-right: 0;
}
.social-icons a:hover {
	transition-duration: 0.3s;
	background-color: #666;
}
.dev-icons {
	font-size: 3rem;
}
.dev-icons .list-inline-item i:hover {
	transition-duration: 0.3s;
	color: #333;
}
/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #0000;
}
::-webkit-scrollbar-thumb {
	background: #999;
}
::-webkit-scrollbar-thumb:hover {
	background: #666;
}
#sideNav {
	overflow-y: auto;
	overflow-x: hidden;
}
#sideNav .navbar-nav .nav-item .nav-link {
	font-weight: 800;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}
#sideNav .navbar-toggler:focus {
	transition-duration: 0.3s;
	outline-color: #333;
}
@media screen and (min-width: 799px) {
	#sideNav {
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		overflow-y: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 25%;
		height: 100vh;
	}
	#sideNav .navbar-brand {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: auto auto 0;
		padding: 0.5rem;
	}
	#sideNav .navbar-brand .img-profile {
		max-width: 10rem;
		max-height: 10rem;
		border: 0.25rem solid rgba(0, 0, 0, 0.25);
	}
	@media screen and (min-width: 1199px) {
		#sideNav .navbar-brand .img-profile {
			max-width: 12.5rem;
			max-height: 12.5rem;
			border: 0.5rem solid rgba(0, 0, 0, 0.25);
		}
	}
	@media screen and (min-width: 1599px) {
		#sideNav .navbar-brand .img-profile {
			max-width: 15rem;
			max-height: 15rem;
			border: 0.75rem solid rgba(0, 0, 0, 0.25);
		}
	}
	#sideNav .navbar-collapse {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		width: 100%;
		margin-bottom: auto;
	}
	#sideNav .navbar-collapse .navbar-nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
	}
	#sideNav .navbar-collapse .navbar-nav .nav-item {
		display: block;
	}
	#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
		display: block;
	}
}
@media screen and (min-width: 1199px) {
	#sideNav {
		width: 20%;
	}
}
section.resume-section {
	padding-top: 6rem !important;
	padding-bottom: 1rem !important;
	min-width: 100%;
}
section.resume-section .resume-item .resume-date {
	max-width: none;
}
@media screen and (min-width: 767px) {
	section.resume-section {
		min-height: 100vh;
	}
	section.resume-section .resume-item .resume-date {
		min-width: 25%;
	}
}
@media screen and (min-width: 799px) {
	section.resume-section {
		padding-top: 3rem !important;
		padding-bottom: 1rem !important;
	}
}
.bg-primary {
	background-color: #333 !important;
}
.text-primary {
	color: #333 !important;
}
a {
	color: #333;
}
a:hover,
a:focus,
a:active {
	transition-duration: 0.3s;
	color: #999;
}
