@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900");
/*---------------------------------
  01. Common
-----------------------------------*/
body {
	font-family: "Work Sans", sans-serif;
	line-height: 2;
	background-color: #333;
}
a {
	color: #0ad;
}
.a-lang {
	padding: 0.125rem 0.25rem;
	margin: 0.125rem 0.25rem;
}
.theme-color,
.theme-bg,
.theme-after:after {
	background-color: #600;
}
/*---------------------------------
  Scroll Auto
-----------------------------------*/
.page-scroll {
	overflow-y: scroll;
	height: 100vh;
}
.page-content {
	padding: 50px;
	-webkit-box-shadow: inset 10vw 0px 250px -50px #000;
	-moz-box-shadow: inset 10vw 0px 250px -50px #000;
	box-shadow: inset 10vw 0px 250px -50px #000;
}
@media screen and (max-width: 1200px) {
	.page-content {
		padding: 40px 30px 30px 30px;
	}
}
@media screen and (min-width: 992px) {
	.page-content {
		min-height: 100vh;
	}
}
@media screen and (max-width: 991px) {
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	.js .page {
		overflow-y: auto;
		overflow-x: hidden;
	}
	.page-content {
		padding: 90px 30px 30px;
		-webkit-box-shadow: inset 10vw 0px 50px -50px #000;
		-moz-box-shadow: inset 10vw 0px 50px -50px #000;
		box-shadow: inset 10vw 0px 50px -50px #000;
	}
}
@media screen and (max-width: 801px) {
	.page-content {
		padding: 85px 20px 30px;
	}
}
/*---------------------------------
  Page title
-----------------------------------*/
.page-title {
	background: transparent;
	background-size: cover;
	padding-bottom: 72px;
	position: relative;
}
.page-title:after {
	content: "";
	width: 2px;
	top: 50px;
	bottom: 72px;
	background: #444;
	left: 45px;
	z-index: 1;
	position: absolute;
}
.page-title:before {
	content: "";
	height: 2px;
	right: 50px;
	bottom: 72px;
	left: 45px;
	background: #444;
	z-index: 1;
	position: absolute;
}
.page-title h2 {
	font-size: 35px;
	color: #fff;
	margin: 0 0 24px 84px;
	text-transform: uppercase;
	z-index: 1;
}
.footer,
.footer-resp {
	background: #000;
	color: #fff;
	text-align: center;
	line-height: 20px;
	z-index: 1;
	-webkit-box-shadow: 0px 0px 25px 25px #000;
	-moz-box-shadow: 0px 0px 25px 25px #000;
	box-shadow: 0px 0px 25px 25px #000;
}
.footer {
	display: block;
}
.footer-resp {
	display: none;
}
@media screen and (max-width: 1200px) {
	.page-title {
		padding: -15px 30px 30px 30px;
	}
	.page-title h2 {
		font-size: 22px;
		margin: 0 0 32px 56px;
	}
	.page-title:after {
		bottom: 72px;
		left: 35px;
	}
	.page-title:before {
		right: 30px;
		bottom: 72px;
		left: 35px;
	}
}
@media screen and (max-width: 991px) {
	.page-title {
		display: none;
		visibility: hidden;
		opacity: 0;
		padding: 80px 30px 30px;
	}
	.footer {
		display: none;
	}
	.footer-resp {
		display: block;
	}
}
/*---------------------------------
  Section Title
-----------------------------------*/
.section-title {
	margin: 0 0 40px;
}
.section-title h6 {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 1;
	padding: 3px 10px;
	font-weight: 600;
	letter-spacing: 3px;
	font-size: 11px;
	margin: 0 0 8px;
	text-transform: uppercase;
}
.section-title h6:after {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	content: "";
	z-index: -1;
	transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
}
.section-title h2 {
	font-size: 45px;
	font-weight: 700;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #eee;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 10px;
	text-transform: uppercase;
	margin: 0;
}
.section-title h2:after {
	height: 8px;
	width: 50px;
	bottom: -4px;
	left: 0;
	right: 0;
	position: absolute;
	content: "";
	z-index: -1;
	transform: skew(-36deg);
	-webkit-transform: skew(-36deg);
}
.sub-title {
	position: relative;
	border-bottom: 1px solid #eee;
}
.sub-title h2 {
	display: inline-block;
	position: relative;
	vertical-align: top;
	font-weight: 600;
	font-size: 22px;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 10px;
}
.sub-title h2:after {
	height: 4px;
	width: 50px;
	bottom: -2px;
	left: 0;
	right: 0;
	position: absolute;
	content: "";
	z-index: 1;
	transform: skew(-36deg);
	-webkit-transform: skew(-36deg);
}
@media screen and (max-width: 1200px) {
	.section-title h6 {
		padding: 3px 8px;
		letter-spacing: 2px;
		font-size: 10px;
	}
	.section-title h2 {
		font-size: 35px;
	}
}
@media screen and (max-width: 991px) {
	.section-title h2 {
		font-size: 30px;
	}
	.section-title {
		margin: 0 0 30px;
	}
}
/*---------------------------------
  Header
-----------------------------------*/
.header {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 60px;
	z-index: 99;
}
.header .logo {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	float: left;
	line-height: 50px;
	padding: 5px 15px;
}
.header .menu-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 60px;
	width: 60px;
}
.header .menu-toggle .menu-button {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.menu-toggle {
	background-color: #000;
}
.pages-nav .link {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
}
.pages-nav .pages-nav__item {
	margin: 0 20px;
}
.pages-nav .link:after {
	content: "";
	position: absolute;
	bottom: 0;
	height: 1px;
	left: auto;
	background: #fff;
	right: 0;
	-webkit-transition: ease all 0.5s;
	-o-transition: ease all 0.5s;
	-ms-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	transition: ease all 0.5s;
	width: 0px;
}
.pages-nav .link:hover:after {
	width: 100%;
	right: auto;
	left: 0;
}
@media screen and (max-width: 991px) {
	.header {
		width: 100%;
	}
	.js .pages-nav {
		padding: 80px 20px 0 20px;
		overflow-y: auto;
	}
}
/*---------------------------------
  01. Home
-----------------------------------*/
.v-center-box {
	min-height: 100%;
}
.home-banner .page-content .v-center-box {
	min-height: calc(100vh - 100px);
	z-index: 1;
}
.home-banner img {
	max-height: 100vh;
	margin: 0 auto;
}
.home-text {
	padding-left: 50px;
	width: 100%;
}
.home-text h6 {
	font-size: 18px;
	margin: 0 0 10px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
}
.home-text h6:after {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: -1;
}
.home-text h1 {
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 10px;
}
.home-text h1:after {
	content: "";
	position: absolute;
	top: 20px;
	right: -10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: -1;
	opacity: 1;
}
.home-text p span {
	text-transform: uppercase;
}
.home-text p {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
}
.home-text .btn-bar {
	margin-top: 20px;
}
.home-banner .social-icons {
	margin: 5px 0;
	padding: 0;
	list-style: none;
}
.home-banner .social-icons li {
	display: inline-block;
	vertical-align: middle;
}
.home-banner .social-icons a {
	display: inline-block;
	height: 3rem;
	width: 3rem;
	background-color: #333;
	color: #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 1.5rem;
	line-height: 3rem;
	margin: 0.5rem 0.125rem 0.5rem 0.125rem;
}
.home-user-avatar .avatar-image {
	position: absolute;
	z-index: -1;
	margin-top: -56px;
	height: 100vh;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}
.user-photo .user-image {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.user-photo img {
	width: 100%;
	height: 100%;
	display: block;
	visibility: hidden;
	opacity: 0;
}
@media screen and (max-width: 991px) {
	.home-user-avatar .avatar-image {
		display: none;
	}
	.home-banner .page-content .v-center-box {
		min-height: inherit;
	}
	.home-banner .page-content {
		padding-top: 30px;
	}
	.home-text {
		padding: 20px 20px 70px;
	}
	.home-banner .social-icons {
		right: auto;
		left: 50px;
	}
}
@media screen and (max-width: 801px) {
	.home-text {
		padding: 10px 10px 60px;
	}
	.home-banner .social-icons {
		left: 30px;
	}
	.home-text h1 {
		font-size: 30px;
	}
	.home-text h1:after {
		top: 0;
		width: 35px;
		height: 35px;
	}
	.home-text h6 {
		font-size: 14px;
	}
	.home-text h6:after {
		width: 30px;
		height: 30px;
	}
	.home-text p {
		font-size: 14px;
	}
	.home-text .btn-bar {
		margin-top: 15px;
	}
}
/*---------------------------------
  About text
-----------------------------------*/
.about-text h3 {
	font-weight: 600;
	font-size: 22px;
	margin: 0 0 10px;
}
.feature-box {
	position: relative;
	padding-left: 50px;
}
.feature-box .icon {
	position: absolute;
	top: 4px;
	left: 0;
	font-size: 29px;
}
.feature-box .icon:after {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	width: 30px;
	height: 30px;
	z-index: 1;
	border-radius: 50%;
	opacity: 0.25;
}
.feature-box h5 {
	font-size: 18px;
	margin: 0;
	padding: 0 0 10px;
	font-weight: 500;
}
.feature-box p {
	font-size: 14px;
	margin: 0;
}
.counter-row {
	border-top: 1px solid #eee;
}
.counter-data {
	position: relative;
	padding-left: 40px;
}
.counter-data i {
	font-size: 28px;
	position: absolute;
	top: 5px;
	left: 0;
}
.counter-data .count {
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	padding: 0 0 6px;
}
.counter-data h6 {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
}
/*==============================
  Resume box
================================*/
.resume-row {
	position: relative;
	margin: 8px 0 32px 0;
}
.resume-row:after {
	position: absolute;
	top: 10px;
	bottom: 0;
	left: 0;
	width: 1px;
	content: "";
	border-left: 1px dashed #666;
}
.resume-row h2 {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
	padding: 0 0 20px 25px;
}
.resume-row h2:after {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 6px;
	left: -6px;
	border-radius: 50%;
	z-index: 1;
}
.resume-row ul {
	margin: 0 0 0px 25px;
	padding: 0;
	list-style: none;
}
.resume-row li {
	position: relative;
	padding: 0;
	border: 1px solid #444;
	border-bottom: 4px solid #888;
	margin-bottom: 23px;
}
.resume-row li:after {
	content: "";
	width: 25px;
	height: 1px;
	position: absolute;
	top: 25px;
	left: -26px;
	border-top: 1px dashed #666;
}
.resume-row .r-name {
	border-bottom: 1px solid #666;
	padding: 10px 20px 7px 52px;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.resume-row .r-name label {
	margin: 0;
	font-size: 12px;
	float: right;
	width: 100%;
}
.resume-row .r-name span {
	font-weight: 500;
	font-size: 18px;
	float: left;
	line-height: normal;
	margin-bottom: 2px;
}
.resume-row .r-name i {
	position: absolute;
	top: 12px;
	left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}
.resume-row .r-info {
	padding: 15px 20px;
	font-size: 16px;
}
.resume-row .r-info p {
	margin: 0;
}
.skill-row {
	margin: 8px 0 32px 0;
}
.skill-row h3 {
	font-size: 18px;
	font-weight: 500;
	margin: 0 0 20px;
}
.skills h6 {
	color: #eee;
	font-weight: 500;
	font-size: 14px;
	margin: 0 0 6px;
	text-transform: uppercase;
}
.skills span {
	font-size: 12px;
	padding: 0px 5px;
	border-radius: 15px;
	font-weight: 600;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 14px;
}
.progress-lt {
	margin-bottom: 20px;
	position: relative;
}
.progress-lt:last-child {
	margin-bottom: 0;
}
.progress-lt .progress {
	height: 5px;
	border-radius: 0;
}
.progress-lt .progress .progress-bar {
	background: #666;
}
/*-----------------------------------------
* 11. Portfolio
-----------------------------------------*/
.portfolio-filter ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.portfolio-filter li {
	display: inline-block;
	font-size: 13px;
	color: #fff;
	position: relative;
	text-transform: uppercase;
	padding: 4px 15px;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
	margin: 2px 1px;
	cursor: pointer;
}
.portfolio-filter li:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
}
.portfolio-filter li:not(.active):after {
	background: #000;
	-webkit-transition: ease all 0.5s;
	-o-transition: ease all 0.5s;
	-ms-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	transition: ease all 0.5s;
}
.portfolio-content {
	margin: 0 -10px;
}
.portfolio-cols-3 {
	margin: 0;
	padding: 0;
}
.portfolio-cols-3 .portfolio-item {
	padding: 10px;
	width: 33.33%;
	list-style-type: none;
}
.portfolio-col {
	padding: 10px;
	background: #333;
	border: 1px solid #222;
	border-bottom: 4px solid #222;
}
.portfolio-col .portfolio-img {
	position: relative;
}
.portfolio-col .portfolio-img .portfolio-image {
	height: 175px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.portfolio-col .portfolio-info {
	padding: 10px 0 0;
}
.portfolio-col .portfolio-info h5 {
	margin: 0;
	padding: 0 0 2px;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}
.portfolio-col .portfolio-info p {
	font-size: 12px;
	color: #ddd;
	font-weight: 400;
	line-height: 14px;
	margin: 4px 0;
}
/*Portfolio Hover 01*/
.portfolio-hover-01 {
	position: relative;
}
.portfolio-hover-01 img {
	display: block;
}
.portfolio-hover-01 .hover {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	left: 0;
	text-align: center;
	padding: 0;
	width: 100%;
	-webkit-transition: ease all 0.5s;
	-o-transition: ease all 0.5s;
	-ms-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	transition: ease all 0.5s;
}
.portfolio-hover-01 .action-btn a {
	display: inline-block;
	vertical-align: top;
	width: 36px;
	height: 36px;
	line-height: 36px;
	background: #272727;
	outline: none;
	margin: 8px 0;
	color: #fff;
	font-size: 16px;
	-webkit-transition: ease all 0.5s;
	-o-transition: ease all 0.5s;
	-ms-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	transition: ease all 0.5s;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
}
.portfolio-hover-01 .action-btn a i.fa-play:before {
	margin-left: 4px;
}
.portfolio-hover-01:hover .hover {
	visibility: visible;
	opacity: 1;
}
.portfolio-hover-01:hover .action-btn a {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
@media (max-width: 991px) {
	.portfolio-cols-3 .portfolio-item {
		width: 50%;
	}
	.portfolio-hover-01 .action-btn a {
		width: 48px;
		height: 48px;
		line-height: 48px;
		font-size: 24px;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	.portfolio-hover-01 .hover {
		visibility: visible;
		opacity: 1;
	}
}
@media (max-width: 801px) {
	.portfolio-filter li {
		font-size: 11px;
		margin: 10px 2px 0;
		padding: 5px 9px;
	}
	.portfolio-filter li.active:after {
		width: 100%;
	}
}
@media (max-width: 640px) {
	.portfolio-cols-3 .portfolio-item {
		width: 100%;
	}
}
.owl-dots {
	text-align: center;
}
.owl-dots .owl-dot {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: top;
	border-radius: 50%;
	background: transparent;
	margin: 0 3px;
	border: 2px solid #484848;
	box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.5);
}
.owl-dots .owl-dot.active {
	background: #484848;
}
/*-----------------------------------------
*  11. Testimonial
-----------------------------------------*/
.testimonial-col {
	border: 1px solid #222;
	margin: 0 0 20px;
	position: relative;
	background: #333;
	border-radius: 5px;
	padding: 0;
}
.testimonial-col .say {
	position: relative;
	padding: 20px;
}
.testimonial-col .say p {
	font-size: 14px;
	margin: 0;
}
.testimonial-col .user {
	border-top: 1px solid #222;
	padding: 20px;
}
.testimonial-col .user .img {
	width: 60px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.testimonial-col .user .name {
	font-size: 14px;
	padding: 0;
	width: calc(100% - 80px);
	display: inline-block;
	vertical-align: middle;
}
.testimonial-col .user .name span {
	font-weight: 500;
	color: #fff;
	font-size: 14px;
	margin-left: 4px;
	line-height: normal;
}
.testimonial-col .user .name label {
	margin-left: 4px;
	color: #ddd;
	font-size: 12px;
	display: block;
	line-height: normal;
}
/*-----------------------------------------
*  Contact Us
-----------------------------------------*/
.output_message {
	vertical-align: top;
	margin-top: 15px;
	padding: 4px 10px;
	display: inline-block;
	font-size: 13px;
	text-align: center;
	letter-spacing: 0.5px;
	border-radius: 3px;
}
.output_message.success {
	background: #25a224;
	display: block;
	color: #fff;
	width: 100%;
	float: left;
}
.output_message.error {
	background: #dc1e1e;
	display: block;
	color: #fff;
	width: 100%;
	float: left;
}
.contact-form {
	background: #222;
	padding: 30px;
	min-height: 100%;
	border: 1px solid #333;
	border-bottom: 4px solid #333;
	border-radius: 5px;
	overflow: hidden;
}
.contact-form h4 {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}
.contact-form .send {
	display: inline-block;
}
.form-group {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.form-group .form-control {
	outline: none;
	box-shadow: none;
	height: 50px;
	border: 1px solid #333;
	width: 100%;
	font-size: 14px;
	color: #fff;
	background: #111;
	border-radius: 0;
}
.form-group .form-control.form-xl {
	height: 55px;
	border: 1px solid #eee;
	font-size: 16px;
	border-bottom: 2px solid #eee;
}
.form-group textarea.form-control {
	height: 100px;
}
.form-group .input-focus-effect {
	width: 0 !important;
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transition: ease all 0.5s;
	-o-transition: ease all 0.5s;
	-ms-transition: ease all 0.5s;
	-moz-transition: ease all 0.5s;
	transition: ease all 0.5s;
	height: 2px;
}
.form-group textarea:focus:not([readonly]) + span.input-focus-effect,
.form-group input:focus:not([readonly]) + span.input-focus-effect,
.form-group select:focus:not([readonly]) + span.input-focus-effect {
	width: 100% !important;
}
.contact-info {
	background: #222;
	padding: 20px;
	position: relative;
	margin-bottom: 12px;
	border: 2px solid #333;
	border-bottom: 4px solid #333;
	overflow: hidden;
}
.contact-info i {
	font-size: 32px;
	display: inline-block;
	vertical-align: top;
}
.contact-info a {
	font-size: 16px;
	margin: 0 0 0 8px;
	color: #fff;
}
@media screen and (max-width: 801px) {
	.contact-form {
		padding: 20px;
	}
}
/* === NAV === */
.pages-nav {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 20px;
	text-align: center;
	background: #0e0f0f;
}
.js .pages-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	padding: 30px;
	pointer-events: none;
	opacity: 0;
	background: transparent;
	-webkit-transition: -webkit-transform 0.66s, opacity 0.66s;
	transition: transform 0.66s, opacity 0.66s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 150px, 0);
	transform: translate3d(0, 150px, 0);
}
.js .pages-nav--open {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/* Pages stack */
.js .pages-stack {
	z-index: 100;
	pointer-events: none;
	-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-perspective-origin: 50% -50%;
	perspective-origin: 50% -50%;
}
.js .page {
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100vh;
	pointer-events: auto;
	box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}
.js .pages-stack--open .page {
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
	transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}
.js .page--inactive {
	position: absolute;
	z-index: 0;
	top: 0;
	opacity: 0;
}
/* Menu button */
.menu-button {
	width: 100%;
	height: 100%;
	padding: 0;
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
}
.no-js .menu-button {
	display: none;
}
.menu-button::before,
.menu-button::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	width: 50%;
	height: 1px;
	background: #fff;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.menu-button span {
	position: relative;
	margin: auto;
	overflow: hidden;
	width: 100%;
	height: 100%;
	color: #fff;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}
.menu-button::before {
	-webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
	transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
}
.menu-button::after {
	-webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
	transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
}
.menu-button--open span {
	opacity: 0;
}
.menu-button--open::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	height: 2px;
}
.menu-button--open::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
	height: 2px;
}
@media screen and (max-width: 801px) {
	.js .pages-nav {
		display: block;
		padding: 72px 24px 24px 24px;
		text-align: left;
	}
	.js .pages-nav__item {
		width: 75%;
		padding: 4px 0;
	}
	.js .pages-nav__item--small {
		display: inline-block;
		width: auto;
		margin-right: 5px;
	}
	.pages-nav__item--social {
		font-size: 0.9em;
	}
	.menu-button {
		top: 15px;
		right: 10px;
		left: auto;
	}
	.info {
		font-size: 0.85em;
	}
	.poster {
		margin: 1em;
	}
}
