:root {
	--primary-color: #f34;
}
body {
	background: var(--dark-color);
	color: var(--light-color);
}
.form-control {
	background: #fff1;
	color: #fff !important;
}
.form-control:focus {
	background: #1117;
	border-color: #fff;
}
.skill-row .badge {
	background: #fff1;
}
