[submodule "_stream.html"]
	path = _stream.html
	url = https://github.com/byuwur/stream.html.git
[submodule "_spa.php"]
	path = _spa.php
	url = https://github.com/byuwur/spa.php.git
[submodule "_dropzone.php"]
	path = _dropzone.php
	url = https://github.com/byuwur/easy-dropzone-php.git
